<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
        body {
          width: 100%;
          max-width: 26rem;
          margin: 0 auto;
          padding: 1rem;
        }
        img {
          display: block;
          width: 100%;
          max-width: 100%;
          height: auto;
        }
    </style>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
